{% extends 'base_layout.html' %}
{% block content %}



    <section class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>


                {{ aktif }}-
                Ana Sayfa

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>

            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Birim Sayısı</span>
                            <span class="info-box-number">{{ units_count }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Klasör Sayısı</span>
                            <span class="info-box-number">{{ klasor_count }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="ion ion-android-menu"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Dosya Sayısı</span>
                            <span class="info-box-number">{{ dosyalar_count }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Evrak Sayısı</span>
                            <span class="info-box-number">{{ evrak_count }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Birim Raporu</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="text-center">
                                        <strong>Birim Evrak Sayısı</strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart2" style="height: 180px; width: 816px;" width="1020"
                                                height="225"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    {#                                    <p class="text-center">#}
                                    {#                                        <strong>{{ lastcompetition.name }}</strong>#}
                                    {#                                    </p>#}

                                    <div class="progress-group">
                                        <span class="progress-text">{{ data.0.birim }}</span>
                                        <span class="progress-number"><b>{{ data.0.sayi }}</b>/{{ data.0.sayi }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-aqua"
                                                 style="width: {{ oran.0.oran }}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">{{ data.1.birim }}</span>
                                        <span class="progress-number"><b>{{ data.1.sayi }}</b>/{{ data.0.sayi }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-red"
                                                 style="width: {{ oran.1.oran }}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">{{ data.2.birim }}</span>
                                        <span class="progress-number"><b>{{ data.2.sayi }}</b>/{{ data.0.sayi }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-green"
                                                 style="width: {{ oran.2.oran }}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->

                                </div>


                                <!-- /.col -->
                            </div>

                            <!-- /.row -->
                            <div class="row">

                                {% for item in data %}

                                    <div class="col-sm-2 col-xs-6">
                                        <div class="description-block border-right">
                                            {#                                            <span class="description-percentage text-green">{{ item }}</span>#}
                                            <h5 class="description-header">{{ item.birim }}</h5>
                                            <span class="description-text">({{ item.sayi }})</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                {% endfor %}
                                <!-- /.col -->

                            </div>
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>


            <!-- /.row -->

            <!-- Main row -->


            {#                <div class="box box-danger">#}
            {#                    <div class="box-header with-border">#}
            {#                        <h3 class="box-title">Son Eklenen Sporcular</h3>#}
            {##}
            {#                        <div class="box-tools pull-right">#}
            {##}
            {#                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
            {#                                    class="fa fa-minus"></i>#}
            {#                            </button>#}
            {#                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i#}
            {#                                    class="fa fa-times"></i>#}
            {#                            </button>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <!-- /.box-header -->#}
            {#                    <div class="box-body no-padding">#}
            {#                        <ul class="users-list clearfix">#}
            {#                            {% for athlete in last_athletes %}#}
            {#                                <li>#}
            {#                                <img src="/media/{{ athlete.person.profileImage }}" style="width: 100px;height: 100px"#}
            {#                                     alt="User Image">#}
            {#                                <a href="{% url "sbs:update-athletes" athlete.pk %}"#}
            {#                                   class="users-list-name">{{ athlete.user.first_name }} {{ athlete.user.last_name }}#}
            {#                                    ({{ athlete.licenses.last.sportsClub }}) </a>#}
            {#                                <a class="users-list-name">({{ athlete.licenses.last.sportsClub }}) </a>#}
            {#                                          <span class="product-description">     #}
            {#                                              </span>#}
            {##}
            {##}
            {#                            {% endfor %}#}
            {##}
            {##}
            {#                            </li>#}
            {##}
            {#                        </ul>#}
            {#                        <!-- /.users-list -->#}
            {#                    </div>#}
            {#                    <!-- /.box-body -->#}
            {#                    <div class="box-footer text-center">#}
            {#                        <a href="{% url "sbs:sporcular" %}" class="uppercase">Tüm Sporculari Görüntüleyin</a>#}
            {#                    </div>#}
            {#                    <!-- /.box-footer -->#}
            {#                </div>#}


        </section>
    </section>



    <script>



        var barChartData = {
            labels: [{% for item in data %}"{{ item.birim }}",{% endfor %}],
                datasets:[{
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [{% for item in data %}"{{ item.sayi }}",{% endfor %}]
            }]

        }


        $(function () {

            var ctx = document.getElementById("salesChart2").getContext("2d");
            window.myBar = new Chart(ctx).Bar(barChartData, {
                responsive: true,

            });
        });

    </script>




{% endblock %}